
button{
    background-color: rgb(185, 209, 224);
    color: rgb(61, 61, 100);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
button:hover {
   background-color: #4CAF50;
   color: red;
    }

  //on-click


  
