body {

  margin: 0;
}

.intro {
  font-family: Butler;
  font-size: 120px;
  font-weight: 100;
  padding: 0;
  line-height: 70%;
  position: relative;
}

.intro2 {
    display: flex;
    flex-direction: column;
    font-family: Butler;
    font-size: 120px;
    font-weight: 100;
    padding: 0;
    line-height: 70%;
  }


.hero {
  height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('new.3340a84f967c58e17b6d5ac2ab732fdd.gif');
}

header {
  display: flex;
  align-items: center;
  padding: 50px 0;
  width: 100vw;
  justify-items: space-between;
}

svg {
  display: flex;
  padding: 0 25px;
}

.menu {
  font-family: Butler;
  font-weight: 400;
  display: flex;
  list-style: none;
  justify-self: flex-end;
}


.menu li {
  padding: 0;
  margin: 0 12px;
  list-style: none;
  display: inline-block;
}

.menu li a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.menu a:hover {
  color: black;
}

/* Add a color to the active/current link */
.menu a.active {
  color: #333;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Butler;
  font-size: 80px;
  font-weight: 300;
  justify-content: space-between;
}

button {
  background-color: rgb(136, 126, 230);
  color: rgb(251, 251, 252);
  padding: 25px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 1s;
  cursor: pointer;
  border-radius: 5px;
  border-color: #ffffff;
  box-shadow: 4px 4px rgb(255, 153, 0);
}

button:hover {
  background-color: hsl(36, 100%, 50%);
  box-shadow: 0 5px rgb(163, 159, 152);
  transform: translateY(4px);
}

button:active {
  background-color: #e70d44;
  transform: translateY(4px);
}

.text {
  font-size: 45px;
  color: rgb(255, 153, 0);
  display: inline-block;
  line-height: 2em;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}


footer {
  font-family: Butler;
  font-size: 12px;
  font-weight: 300;
}
