
body {
  background: #DBD4CD;
  margin: 0;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: auto;
  background: #CAC2BB; 
}

button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
  margin: auto;
  display:grid;
  justify-content: center;
  align-items: center;
}
  
button:hover {background-color: rgb(255, 0, 166);}

button:active {
    background-color: rgb(255, 0, 166);
    box-shadow: 0 5px #686;
    transform: translateY(4px);
}

